extends ../../layouts/default.pug

block content
  main.articles-category
    h1 #{categories.find(it => it.id === currentCategoryId).title}
    include ../../components/categories.pug
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      include ../../components/articles-preview

    if totalPages > 1
      +pagination
