extends ../layouts/default.pug

block content
  main
    h1.visually-hidden Регистрация пользователя
    section.modal
      .popup.popup--registration
        a.popup__button.button.button--popup-close(class='js-back-button' href='/' aria-label='Закрыть окно')
          | Закрыть
          | окно
        h2.visually-hidden Форма регистрации
        ul.popup__tabs
          li.popup__tab.popup__tab--active.popup__tab--register
            a.popup__tab-switcher.button Регистрация
          li.popup__tab.popup__tab--log-in
            a.popup__tab-switcher.button(href='/login') Войти
        .popup__form.popup__form--active.form.form--register
          form(action='/register' method='POST' enctype='multipart/form-data')
            .form__field
              label
                input(type='email' placeholder='Электронная почта' required='' name='email' value=user.email)
            .form__field
              label
                input(type='text' placeholder='Имя' required='' name='first_name' value=user.firstName)
            .form__field
              label
                input(type='text' placeholder='Фамилия' required='' name='last_name' value=user.lastName)
            .form__field
              label
                input(type='password' placeholder='Пароль' required='' name='password')
            .form__field
              label
                input(type='password' placeholder='Повтор пароля' required='' name='password-repeat')

            if errors && errors.length
              .form__validation-error
                p.form__error-message При регистрации произошли ошибки:
                  ul.form__errors
                    each error in errors
                      li.form__error #{error}

            .form__image-loader
              a.form__avatar.avatar
                img(src='img/icons/smile.svg' alt='аватар пользователя')
              label
                input.visually-hidden(type='file' name='avatar')
                | Загрузить фото профиля
            button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться

      .modal__overlay

  script(src='/js/main.js')
  script(src='/js/back-button.js')
