section.main-page__theme-list
  h2.visually-hidden Список тем
  ul.themes
    each category in categories
      li.themes__item
        a.themes__item-link(href=`/articles/category/${category.id}` class=((currentCategoryId === category.id) ? `themes__item-link--active` : ``))
          | #{category.title}
          sup #{category.count}
